<!DOCTYPE html>
<html lang="es">
<head>
    <!--title>Denuncie &#124; YA!</title-->
    <title>Q'JATE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Q'jate - La Paz, Bolivia 2016">
    <meta name="author" content="strysg" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/ico/favicon-16x16.png">
    <link rel="manifest" href="../static/ico/manifest.json">


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    
    <link rel="stylesheet" href="../static/vendor/materialize/css/materialize.css">
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendor/material-preloader/preloader.min.css">

    <link rel="stylesheet" href="../static/css/app.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
</head>

<body class="">
    <nav class="navbar">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img src="img/yano.jpg" class="logo">
            </a>
            <ul class="nav-menu right hide-on-med-and-down" id="navPage">
                <li><a href="#" >Bienvenido {{ usuario_logueado }}</a></li>
                <li><a href="#home" >Home</a></li>
                <li><a href="#register-block" class="active">Login</a></li>
                <li><a href="#about-block" >¿Qué es esto?</a></li>
                <!--li><a href="#stadistics-block" >Estadisticas</a></li>
                <li><a href="#speakers-block" >Contactos</a></li-->
            </ul>
        </div>
    </nav>
            
<div class="register-block" id="register-block">
    <div class="container">
        <div class="row">

            <div class="col s12 m12 l4">
                <form class="register-card card" method="post" id="login-from" action="login" role="form">
                    <div class="card-content">
                        <span class="card-title">Login</span>
                        <div class="row">
                            <div class="input-field col l12 s12">
                            <input id="nombre"  type="text" class="validate" name="nombre" data-validate="required" data-register="nombre">
                                <label for="nombre">Nombres de usuario</label>
                            </div>
                        
                            <div class="input-field col l12 s12">
                                <input type="password" name="passw" class="validate"> </input>
                                <label for="passw">Contraseña</label>
                            </div>
                        </div>                        
                    </div>
                    
                    <div class="card-action">
                        <button class="btn waves-effect waves-light" type="submit" action="submit" id="ingresar-qjate">
                        INGRESAR <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form> 

                <!-- <form id="registerForm" class="register-card card" action="login" role="form" method="POST">
                    <div class="card-content">
                        <span class="card-title">Login</span>
                        <div class="row">
                            <div class="input-field col l12 s12">
                                <input id="nombre" type="text" class="validate" data-validate="required" data-register="nombre">
                                <label for="nombre">Nombres de usuario</label>
                            </div>
                            <div class="input-field col l12 s12">
                                <input id="passw" type="text" class="validate" data-validate="required" data-register="passw">
                                <label for="passw">Contraseña</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn waves-effect waves-light l12 s12 m12" id="btnLogin"  type="submit" action="submit">
                            INGRESAR
                            <i class="material-icons right">send</i>                        
                        </button>
                    </div>
                </form> -->
            </div>

            <div class="col s12 m12 l2">
                <form id="" class="register-card card">
                    
                </form>
            </div>


            <div class="col s12 m12 l6">
                <form id="register-from" class="register-card card" action="nuevo_usuario" method="post" role="form">
                    <div class="card-content">
                        <span class="card-title">Registro</span>
                        <div class="row">
                            <div class="col l12 m12 s12" action=".">
                                <div class="row">
                                    <div class="input-field col l12 s12">
                                        <input id="nombre" type="text" name="nombre" class="validate" data-validate="required" data-register="nombre">
                                        <label for="nombre">Nombre de usuario</label>
                                    </div>
                                    <!--div class="input-field col l4 s12">
                                        <input id="last_name" type="text" class="validate" data-validate="required" data-register="last_name">
                                        <label for="last_name">Apellidos</label>
                                    </div>
                                    <div class="input-field col l4 s12">
                                        <input id="phone" type="text" class="validate" data-validate="required,number" data-register="phone">
                                        <label for="phone">Telefono / Celular</label>
                                    </div-->
                                </div>
                                <div class="row">
                                    <!--div class="input-field col l4 s12">
                                        <input id="username" type="text" class="validate" data-validate="required" data-register="username">
                                        <label for="username">Nombres de usuario</label>
                                    </div-->
                                    <div class="input-field col l6 s12">
                                        <input id="passw" type="text" name="passw" class="validate" data-validate="required" data-register="passw">
                                        <label for="passw">Contraseña</label>
                                    </div>
                                    <div class="input-field col l6 s12">
                                        <input id="re_password" type="text" class="validate" data-validate="required,number" data-register="re_password">
                                        <label for="re_password">Repita contraseña</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--div class="input-field col l4 s12">
                                        <input id="email" type="text" class="validate" data-validate="required,email" data-register="email">
                                        <label for="email">Correo electrónico</label>
                                    </div-->
                                    <div class="col l12 s12">
                                        <label>Genero</label>
                                        <select class="browser-default" data-register="gender">
                                          <option value="0" selected>Genero</option>
                                          <option value="1">Masculino</option>
                                          <option value="2">Femenino</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit" action="submit">
                                REGISTRARSE
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
            
<div class="block grey darken-0">
    <div class="row">
        <div class="col s12">
            <div class="intro-block" id="home">
                <br>
                <br>
                <br>
                <br>
                <div class="col s1">
                    <div class="card">

                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                          <img src="img/chofer.jpg" class="big-logo" >
                          <span class="card-title">@Usuario</span>
                        </div>
                        <div class="card-content">
                          <p>Esta es una pequeña descripción del usuario.</p>
                        </div>
                        <div class="card-action">
                          <a href="#">1023 Q'jas</a>
                        </div>
                        <div class="card-action">
                          <a href="#">Ver perfil</a>
                        </div>
                      </div>
                </div>
                <div class="col s1">
                <span></span>
                </div>

                <div class="col s7" data-container="cont-queja">
                    <!--AQUI SE REALIZA UNA QUEJA-->
                    <div class="row" data-template="temp-queja">
                        <div class="col s12">
                          <div class="card blue-grey darken-4">
                            <div class="card-content white-text">
                                <form action="">
                                    <div class="row">
                                        <div class="input-field col l6 s12">
                                            <input id="titulo-qeja" type="text" name="titulo" class="" data-validate="required" data-register="titulo">
                                            <label for="titulo">Titulo de tu queja</label>
                                        </div>
                                        <div class="input-field col l12 s12">
                                            <input id="descripcion-qeja" type="text" name="descripcion" class="" data-validate="required" data-register="descripcion">
                                            <label for="descripcion">Descripcion</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="card-action">
                                            <button class="btn waves-effect waves-light right" type="submit" action="submit">
                                                Q'jate
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>
                                    </div>                   
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- ESTA ES LA LISTA DE QUEJAS -->
                    <div class="row" data-template="temp-queja">
                        <div class="col s12">
                          <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <span class="card-title" id="queja" data-value="title">Q'ja sobre algo</span>
                              <p class="queja-desc" data-value ="descripcion">Esta es una muestra de como debe ser una queja respecto a cualquier cosa esperando respuestas de inmediato.</p>
                            </div>
                            <div class="card-action">
                              <a href="#">Re-Q'jarse</a>
                              <a href="#">Like</a>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>    
        </div>
    </div>
</div>


            

            <footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 - Q'jate
            <a class="grey-text text-lighten-5 right" href="https://twitter.com/@axeljim_06"><i>Powered by </i><strong>@axeljim_06</strong></a>
        </div>
    </div>
</footer>




         

        
            <script src="../static/vendor/jquery.min.js"></script>
            
            <script src="../static/vendor/materialize/js/materialize.js"></script>
            <script src="../static/vendor/verify.notify.min.js"></script>
            <script src="../static/vendor/material-preloader/preloader.min.js"></script>
            <!--script src="../static/vendor/singlenav.js"></script>
            <script src="../static/js/notary.js"></script>
            <script src="../static/js/app.js"></script-->
            <script src="../static/js/qjate.js"></script>
               
        
    </body>
</html>
