<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Portal de reclamos - preubas BD</title>
		<!-- 
		<link rel="stylesheet" href="../static/base.css" type="text/css" />
		-->
	</head>
	<body bgcolor="#AAA0A5">

		<h1>"Pruebas conexiones BD"</h1>
		
		
		- <a href="#listado" >Listado de Tablas (devuelve JSON)</a>
		<br>
		- <a href="#insercion" >Insercion en Tablas</a>
		
		
		<!-- Listado -->
		<h2 id="listado">Listado</h2>
		
		<!--  -->
		<h3>listar usuarios</h3>
		<form method ="get" id="ls_usuarios" action="ls_usuarios" role="form">
			<button type="submit" action="submit"> listar! </button>
		</form>
		<!--  -->
		<h3>listar quejas</h3>
		<form method ="get" id="ls_quejas" action="ls_quejas" role="form">
			<button type="submit" action="submit"> listar! </button>
		</form>
		<!--  -->
		<h3>listar comentarios</h3>
		<form method ="get" id="ls_comentarios" action="ls_comentarios" role="form">
			<button type="submit" action="submit"> listar! </button>
		</form>
		<!--  -->
		<h3>listar ingresos</h3>
		<form method ="get" id="ls_ingresos" action="ls_ingresos" role="form">
			<button type="submit" action="submit"> listar! </button>
		</form>	
		<!--  -->
		<h3>listar multimedia</h3>
		<form method ="get" id="ls_multimedias" action="ls_multimedias" role="form">
			<button type="submit" action="submit"> listar! </button>
		</form>	
		
		<!-- Insercion -->
		<h2 id="insercion">Insercion en la BD</h2>
		
		<a href="login" >Probar el Login</a>
		
		<!--  -->
		<h3>Agregar usuarios</h3>
		<form method ="post" id="nuevo_usuario" action="nuevo_usuario" role="form">
		<b> (*) </b>(obligatorio)
			<p>nombre usuario=<input type="text" name="nombre" placeholer=""> </input>(*)</p>
			<p>password=<input type="password" name="passw" placeholer=""> </input>(*)</p>
			<p>tipo de usuario (1 = usuario normal, 2= especial)=
				<input type="text" name="tipo" placeholer=""> </input></p>
			<p><button type="submit" action="submit"> Insertar!</button></p>
		</form>
		
		<!--  -->
		<h3>Agregar quejas</h3>
		<form method ="post" id="nueva_queja" action="nueva_queja" role="form">
		<b> (*) </b>(obligatorio)
			<p>id_usuario=<input type="text" name="id_usuario" placeholer=""> </input>(*)</p>
			<p>titulo=<input type="text" name="titulo" placeholer="" size=89> </input>(*)</p>
			<p>descripcion=<textarea type="text" name="descripcion" cols="70" rows="5">
			</textarea>(*)	</p>
			<p>categoria=<input type="text" name="categoria" placeholer="" size=20> </input></p>
			<p><button type="submit" action="submit"> Insertar!</button></p>
		</form>
		
		<!--  -->
		<h3>Hacer Comentario</h3>
		<form method ="post" id="nuevo_comentario" action="nuevo_comentario" role="form">
		<b> (*) </b>(obligatorio)
			<p>id_usuario=<input type="text" name="id_usuario" placeholer=""> </input>(*)</p>
			<p>id_queja=<input type="text" name="id_queja" placeholer=""> </input>(*)</p>
			<p>contenido=<textarea type="text" name="contenido" cols="70" rows="3">
			</textarea>(*)</p>
			<p><button type="submit" action="submit"> Insertar!</button></p>
		</form>
		
	<!-- Estadisticas generales -->
<!-- 	Disponibles {{ esp_disp }} MB (<b>{{ p_disp }} %</b>) Total de <b>{{ num_arch }}</b> archivos -->
	<!-- Listado de Archivos -->	
	<!-- <table id="lista_archivos">
		<tr>
			<td class="nombres">ARCHIVOS COMPARTIDOS</td>	
			<td class="tam">TAMAÑO</td>
			<td class="dias_restantes">Días para borrado</td>
		</tr>
		{% for reg_arch in lista_archivos|reverse %}
		<tr>
			<td class="nombres"><a href="{{ reg_arch[0] }}/{{ reg_arch[1] }}">{{ reg_arch[1] }}</a>
			<td class="tam"> {{ reg_arch[2] }} </td>
			<td class="dias_restantes">
			{% if reg_arch[3]|int >= 10 %}
				<span id="dias_muchos" > {{ reg_arch[3] }} </span>
			{% elif reg_arch[3]|int < 10 and reg_arch[3]|int > 3 %}
				<span id="dias_moderados" > {{ reg_arch[3] }} </span>
			{% elif reg_arch[3]|int <= 3 %}
				<span id="dias_pocos" > {{ reg_arch[3] }} </span>
			{% endif %}
			</td>
		</tr>
		{% endfor %}
 -->
	</table>
	</body>

</html>
