<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
 <html>
 <head>
		 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Portal de reclamos - login</title>
		<!-- 
		<link rel="stylesheet" href="../static/base.css" type="text/css" />
		-->
	</head>
	<body bgcolor="#AAA0A5">
	
	
	<!--  -->
	<h3>Login app <i></i></h3>
		{% if login_e %}
			<h4>{{ login_e }}</h4>
		{% endif %}
		{% if usuario_logueado %}
			{{ usuario_logueado }} <a href="/logout" >	Logout </a>
		{% else %}
			<form method ="post" id="login-from" action="login" role="form">
				<p>nombre de usuario=<input type="text" name="nombre" placeholer="" size="20"> </input> (*)</p>
				<p>su contraseña=<input type="password" name="passw" placeholer="" size="30"> </input>(*)</p>
				<p><button type="submit" action="submit"> Login</button></p>
			</form>	
		{% endif %}
		<!--<h3>nombre = {{ n }} , passw = {{ p }} -> {{ md5 }} </h3> -->
	</body>
 </html>