<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
 <html>
 <head>
		 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Portal de reclamos - prueba_quejas</title>
		<!-- 
		<link rel="stylesheet" href="../static/base.css" type="text/css" />
		-->
	</head>
	<body bgcolor="#AAA0A5">
	<h1>Listado de todas las quejas</h1>

	{% for queja in lista_quejas|reverse %}
		<h3>{{ queja[2] }} </h3> <!-- titulo -->
		Autor: {{ queja[1] }} , num_queja: {{ queja[0] }}
		</br> Publicada en: {{ queja[4] }}
		<p> {{ queja[3] }} </p> <!-- descripcion -->
		<p> <b>VOTOS</b> A favor: {{ queja[5] }} - En contra: {{ queja[6] }} </p>
		<p> categoria: {{ queja[7] }}</p>
		<hr />
	{% endfor %}
	
	
	<!--  -->
	<h3>Login app <i>{{ usuario_logueado }}</i></h3>
		<h4>{{ msj1 }}</h4>
		<form method ="post" id="login-from" action="login" role="form">
			<p>nombre de usuario=<input type="text" name="nombre" placeholer="" size="20"> </input> (*)</p>
			<p>su contraseña=<input type="password" name="passw" placeholer="" size="30"> </input>(*)</p>
			<p><button type="submit" action="submit"> Login</button></p>
		</form>	
		<!--<h3>nombre = {{ n }} , passw = {{ p }} -> {{ md5 }} </h3> -->
	</body>
 </html>